<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">Welcome to Will's sorting algorithm emporium</div>
    <div class="input">
        <form action="/submit" method="POST">
            <p>Enter values separated by a comma</p>
            <input type="text" id="arrValues"/>
            <select id ="sorts" name="sorts">
                <option value="none">Select a sort</option>
                <option value="bubble">Bubble Sort</option>
                <option value="select">Select Sort</option>
            </select>
            <input type="submit" value="select"/>
        </form>
    </div>
</body>
</html>